{erl_opts, [debug_info]}.
{deps, [
    {opentelemetry, "~> 1.0"},
    {opentelemetry_api, "~> 1.0"}
]}.

{project_plugins, [erlfmt, rebar3_hex, rebar3_ex_doc]}.

{hex, [{doc, ex_doc}]}.

{ex_doc, [
    {prefix_ref_vsn_with_v, false},
    {extras, ["README.md", "LICENSE.md"]},
    {main, "README.md"},
    {source_url, "https://github.com/breakroom/opentelemetry_heroku"}
]}.

{profiles, [
    {docs, [
        {deps, [edown]},
        {edoc_opts, [
            {preprocess, true},
            {doclet, edoc_doclet_chunks},
            {layout, edoc_layout_chunks},
            {dir, "_build/default/lib/opentelemetry_cowboy/doc"},
            {subpackages, true}
        ]}
    ]}
]}.
